.signup-container {
  height: 100vh;
  width: 90%;
  background: url("../assets/Sign Up.jpg") no-repeat center center/cover;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family: "Poppins", sans-serif;
}



.signup-form-box {
  width: 400px;
  background: linear-gradient(180deg, #D1F8EF, #A1E3FC);
  border-radius: 16px;
  padding: 40px 50px;
  transform: translateX(110px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.welcome {
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  color: #3674B5;
  margin-bottom: 30px;
}

.label, .field-label {
  font-weight: 600;
  color: #3674B5;
  margin-bottom: 8px;
  display: block;
}

.role-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.role-btn {
  flex: 1;
  margin: 0 5px;
  padding: 10px;
  background-color: white;
  border: 2px solid #578FCA;
  border-radius: 6px;
  color: #3674B5;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.role-btn:hover {
  background-color: #A1E3FC;
}

.role-btn.active {
  background-color: #3674B5;
  color: white;
}

.input-field {
  width: 100%;
  padding: 12px;
  margin-bottom: 18px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 15px;
  transition: border-color 0.3s;
}

.input-field:focus {
  border-color: #3674B5;
  outline: none;
}

.password-wrapper {
  position: relative;
}

.eye-icon {
  position: absolute;
  right: 12px;
  top: 12px;
  cursor: pointer;
  font-size: 18px;
  user-select: none;
  color: #3674B5;
  transition: transform 0.2s ease;
}

.eye-icon:hover {
  transform: scale(1.1);
}

.signup-btn {
  width: 100%;
  padding: 12px;
  background-color: #3674B5;
  border: none;
  color: white;
  border-radius: 8px;
  font-size: 16px;
  margin-top: 10px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s;
}

.signup-btn:hover {
  background-color: #578FCA;
}

.signup-link {
  margin-top: 15px ;
  background: none;
  border: none;
  color: #3674B5;
  cursor: pointer;
  font-weight: 600;
  transition: color 0.3s;
}

.signup-link:hover {
  color: #0056b3;
}
